
body, html {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)10%, rgba(0, 0, 0, 1)90%), url('/images/AkiraNeoTokyo.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-stretch: 200%;
  height: 100%; /* Set the height to ensure full coverage */
  margin: 0; /* Remove default margin */
  }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center child elements horizontally */
  text-align: center; /* You can remove this line, as it doesn't affect centering */
}
 
a{

    color: #fff;
    font-family: "moret", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 5vw;
    text-align: center;
   transform: scale(1.5,1);
   transition: font-size 1s ease;
   transition: text-shadow 0.5s ease;
    -webkit-text-stroke: 0.05vw #ED229D; /* Outline with the specified color and width */
}

a:hover{
    font-size: 6vw;
    text-shadow:2px 2px 8px#ED229D;
}
p1{
    align-content: center;
    color: #fff;
    font-family: "moret", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 3vw;
    text-stroke: 0.01ch #ED229D; /* Outline with the specified color and width */
    -webkit-text-stroke: 0.01ch #ED229D; /* Outline with the specified color and width */ 
}
footer {
    display: inline-block;
    margin-bottom: 10vh;
   }

