
body{
  background-color: black;
  }


 
a{
    color: #fff;
    font-family:'HBO Max', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 10vw;
    text-align: start;


}

a:hover{
    transition: all 0.5s ease;
    font-size: 11.5vw;
    text-shadow: 5px 5px #0129ff;

}
p1{
    align-content: flex-start;
    color: #fff;
    font-family:'HBO Max', sans-serif;
    font-style: normal;
    font-size: 4vw;
}
.container{
  border: 1px solid #0129ff;
  display: flex;
  flex-wrap: wrap;
  padding: 5vh;
  margin: 1vh; 
  background: radial-gradient(closest-side,#0129ff,#000ceb,black 200%);
  border-radius: 1.5vh; 
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content:center; 
  text-align:start;
  padding: 3vh;
  max width: 35vh;
  
}